<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hisense.springboot.mapper.TenMinRouteAvgVelocityMapper">
  <resultMap id="BaseResultMap" type="com.hisense.springboot.model.TenMinRouteAvgVelocity">
    <result column="ID" jdbcType="VARCHAR" property="id" />
    <result column="ROUTE_ID" jdbcType="DECIMAL" property="routeId" />
    <result column="CAL_TIME" jdbcType="TIMESTAMP" property="calTime" />
    <result column="VELOCITY" jdbcType="DECIMAL" property="velocity" />
  </resultMap>
  <insert id="insert" parameterType="com.hisense.springboot.model.TenMinRouteAvgVelocity">
    insert into TD_TRAVELSPEED_RESULT (ID, ROUTE_ID, CAL_TIME,
      VELOCITY) values (#{id,jdbcType=VARCHAR}, #{routeId,jdbcType=DECIMAL}, to_date(#{calTime,jdbcType=VARCHAR},'YYYY-MM-DD HH24:mi:ss'),
      #{velocity,jdbcType=DECIMAL})
  </insert>

  <select id="selectAll" resultMap="BaseResultMap">

  </select>

  <insert id="insertBath" parameterType="java.util.List" useGeneratedKeys="false">
    insert into TD_TRAVELSPEED_RESULT
                (ID, ROUTE_ID, CAL_TIME, VELOCITY)

                 <foreach collection ="list" item="item" index= "index" separator="union all">
                     ( select
                     #{item.id, jdbcType=VARCHAR}, #{item.routeId, jdbcType=DECIMAL},
                     to_date(#{item.calTime, jdbcType=VARCHAR},'yyyy-MM-dd HH24:mi:ss'),
                     #{item.velocity, jdbcType=DECIMAL}
                     from dual
                     )
                 </foreach >

  </insert>
</mapper>